Backup Workflows to GitHub.json
{
  "name": "Backup Workflows to GitHub",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "bc815440-dcd0-4418-931c-63daf0b5b873",
      "name": "When chat message received",
      "webhookId": "5f12e0c1-b1bd-4d3d-8d81-8ce8432fc610",
      "notesInFlow": true,
      "notes": "RESERVE A MEETING"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=You are a data assistant. Answer questions only using the spreadsheet rows provided."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "76525b08-ad0b-4bcf-a080-58e9f062cf9f",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -16,
        208
      ],
      "id": "8acec2e4-e46f-41da-b14a-729320dd08fe",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "t7nH31LCra60HKKM",
          "name": "OpenAi account"
        }
      },
      "notes": "You are a data assistant. Answer questions only using the spreadsheet rows provided."
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        128,
        208
      ],
      "id": "31ee89cb-55e3-4439-bcd1-9207d3c27b3c",
      "name": "Simple Memory",
      "notes": "SAVE ALL THE SESSION_ID"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Download file in Google Drive",
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "=1gIlVzYKbWcgyGCwbtxFIwK16CD4YTKQ0d4b-8HOHeZQ",
          "mode": "id"
        },
        "options": {
          "binaryPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.googleDriveTool",
      "typeVersion": 3,
      "position": [
        432,
        192
      ],
      "id": "361ea4b7-9e7f-4fa4-9727-0ceb69e25ba1",
      "name": "Download file in Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "PmI8qYMAsH7ZiSvP",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get row(s) in sheet in Google Sheets",
        "documentId": {
          "__rl": true,
          "value": "=1gIlVzYKbWcgyGCwbtxFIwK16CD4YTKQ0d4b-8HOHeZQ",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 640047222,
          "mode": "list",
          "cachedResultName": "claims_data",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1gIlVzYKbWcgyGCwbtxFIwK16CD4YTKQ0d4b-8HOHeZQ/edit#gid=640047222"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        560,
        112
      ],
      "id": "cf78bfa7-d18f-4621-bec9-c93b7d54aa3a",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "ChAyShAxIbLoGM09",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get a repository in GitHub",
        "resource": "repository",
        "operation": "get",
        "owner": {
          "__rl": true,
          "mode": "name",
          "value": "=tonybassil"
        },
        "repository": {
          "__rl": true,
          "mode": "name",
          "value": "=n8n-connectio"
        }
      },
      "type": "n8n-nodes-base.githubTool",
      "typeVersion": 1.1,
      "position": [
        288,
        192
      ],
      "id": "d4c13db8-3527-433c-8334-c701c09274df",
      "name": "Get a repository in GitHub",
      "webhookId": "f54b7c95-1242-4f8c-861f-f444e5405c1d",
      "credentials": {
        "githubApi": {
          "id": "D60JIGvWLQ4rJO9A",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "githubApi",
        "url": "=https://tbassioutlook.app.n8n.cloud/api/v1/workflows\n",
        "options": {}
      },
      "name": "List Workflows",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        800,
        48
      ],
      "id": "d98a43c5-5e4c-428c-a8b1-16aba3ba9add",
      "credentials": {
        "githubApi": {
          "id": "D60JIGvWLQ4rJO9A",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data",
        "options": {}
      },
      "name": "Split Workflows",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1152,
        48
      ],
      "id": "c4b13ab0-3ef0-4352-ba2d-0d966c12bb9f"
    },
    {
      "parameters": {
        "authentication": "headerAuth",
        "url": "={{$json[\"N8N_HOST\"]}}/api/v1/workflows/{{$json[\"id\"]}}",
        "options": {}
      },
      "name": "Get Workflow JSON",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        1344,
        48
      ],
      "id": "5aaa3cad-f21b-4bab-b53d-2d41f3cfe9d9"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "=tonybassil",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "=n8-connectio",
          "mode": "name"
        },
        "filePath": "backup.json",
        "fileContent": "Get Workflow JSON",
        "commitMessage": "Backup workflows from n8n"
      },
      "name": "Save to GitHub",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [
        1552,
        48
      ],
      "id": "6dceb785-a72e-4cd9-adaa-4041f41a28a7",
      "webhookId": "f8800280-8d64-4355-a6d1-2c476dafe820",
      "credentials": {
        "githubApi": {
          "id": "D60JIGvWLQ4rJO9A",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8307ea72-8269-46a9-89f8-00ef4ce4972f",
              "name": "N8N-HOST",
              "value": "https://tbassioutlook.app.n8n.cloud",
              "type": "string"
            },
            {
              "id": "65cdc24e-99de-47ba-a2f8-c7f508bb6986",
              "name": "N8N_API_KEY",
              "value": "",
              "type": "string"
            },
            {
              "id": "67ff9e36-bcc3-4478-a5c5-28e470dbd1ac",
              "name": "GITHUB_OWNER",
              "value": "tonybassil",
              "type": "string"
            },
            {
              "id": "8ba5283a-47b6-46ba-914e-70fd294234be",
              "name": "GITHUB_REPO",
              "value": "n8n-connectio",
              "type": "string"
            },
            {
              "id": "716c92b3-249e-477c-aff6-22d14790bfda",
              "name": "BRANCH",
              "value": "main",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        992,
        16
      ],
      "id": "06e44707-2d85-45d4-9e0c-fbbc93e19109",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Download file in Google Drive": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get a repository in GitHub": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "List Workflows": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Workflows": {
      "main": [
        [
          {
            "node": "Get Workflow JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Workflow JSON": {
      "main": [
        [
          {
            "node": "Save to GitHub",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Split Workflows",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "06d54161-2369-43db-8a9d-fec404b00b9d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b5d8ec38661870e154fbcb948230df6a1f3ff5a674c5da87114e1cf17ea3b35f"
  },
  "id": "xQ5MYtS43KUaGWJ6",
  "tags": []
}